<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MNTicTacToe.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8C11FE3C1D92A1A00017EB06</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8C11FE551D92A1A00017EB06</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8C11FE601D92A1A00017EB06</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
